@using TestProjectWeb.Models;
@model ProfileViewModel

<div class="profile">
    <div class="profile-side">
        <div class="profile-side-info">
            <div>
                Your profile:
            </div>
            <div>
                Id: @Model.UserViewModel.Id
            </div>
            <div>
                Name: @Model.UserViewModel.Name
            </div>
            <div>
                Password: @Model.UserViewModel.Password
            </div>
        </div>
        <div class="profile-side-links">
            <div>
                <a asp-area="" asp-controller="Word" asp-action="CreateWord">CreateWord</a>

            </div>
            <div>
                <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            </div>
        </div>
    </div>
    <div class="profile-content">
        <div class="profile-content-search">
            Search:
        </div>
        <div class="profile-content-table">
            <div class="profile-content-table-row">
                <div class="profile-content-table-row-item">
                    Word
                </div>
                <div class="profile-content-table-row-item">
                    Translation
                </div>
                <div class="profile-content-table-row-item">
                    Category
                </div>
                <div class="profile-content-table-row-item">
                    PartOfSpeech
                </div>

                @foreach (var word in @Model.WordViewModels)
                {
                    <div class="profile-content-table-row-item">
                        @word.Value
                        <a asp-controller="Word" asp-action="DeleteWord" asp-route-id="@word.Id">D</a>
                        <a asp-controller="Word" asp-action="EditWord" asp-route-id="@word.Id">E</a>                        
                    </div>
                    <div class="profile-content-table-row-item">
                        @word.Translation
                    </div>
                    <div class="profile-content-table-row-item">
                        @word.Category
                    </div>
                    <div class="profile-content-table-row-item">
                        @word.PartOfSpeech
                    </div>
                }
            </div>
        </div>
    </div>
</div>
