@using TestProjectWeb.Models;
@model ProfileViewModel
@section Scripts{
<script src="~/js/profile.js"></script>
}

<div class="profile">
    <div class="profile-side">
        <div class="profile-side-info">
            <div>
                Your profile:
            </div>
            <div>
                Id: @Model.UserViewModel.Id
            </div>
            <div>
                Name: @Model.UserViewModel.Name
            </div>
            <div>
                Country: @Model.UserViewModel.Country
            </div>
            <div>
                City: @Model.UserViewModel.City
            </div>
            <div>
                LearningLanguage: @Model.UserViewModel.LearningLanguage
            </div>
            <div>
                LanguageLevel: @Model.UserViewModel.LanguageLevel
            </div>
        </div>
        <div class="profile-side-links">
            <div>
                <a class="options-open link" href="#">Options</a>
            </div>
            <div>
                <a class="deleteAccount-open" href="#">Delete account</a>
            </div>
        </div>
        <div class="profile-side-actions">
            <div>
                <a href="#">Random word API(FUTURE)</a>
            </div>
            <div>
                <a asp-area="" asp-controller="Word" asp-action="CreateWord">Create word</a>
            </div>
            <div>
                <a asp-area="" asp-controller="Quiz" asp-action="MyQuizzes">Quizzes</a>
            </div>
        </div>
    </div>
    <div class="profile-content">
        <div class="profile-content-search">
            <input class="search-word" type="text" />
            <input class="search-link" type="submit" value="search" />
        </div>
        <div class="profile-word-table">
            <div class="profile-word-table-columns table-row">
                <div class="table-column-title">
                    <div>
                        Word
                    </div>
                </div>
                <div class="table-column-title">
                    <div>
                        Translation
                    </div>
                </div>
                <div class="table-column-title">
                    <div>
                        Category
                    </div>
                </div>
                <div class="table-column-title">
                    <div>
                        Part of Speech
                    </div>
                </div>
            </div>
            @foreach (var word in @Model.WordViewModels)
            {
                <div class="profile-word-table-columns table-row">
                    <div class="table-column-item">
                        <div>
                            <span>
                                @word.Value
                            </span>
                            <span>
                                <a asp-controller="Word" asp-action="EditWord" asp-route-id="@word.Id">E</a>
                                <a asp-controller="Word" asp-action="DeleteWord" asp-route-id="@word.Id">D</a>
                            </span>
                        </div>
                    </div>
                    <div class="table-column-item">
                        <div>
                            @word.Translation
                        </div>
                    </div>
                    <div class="table-column-item">
                        <div>
                            @word.Category
                        </div>
                    </div>
                    <div class="table-column-item">
                        <div>
                            @word.PartOfSpeech
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div class="profile-options">
    <div class="profile-options-window">
        <div class="profile-options-header">
            <div class="options-close link">Close</div>
        </div>
        <div class="parent-for-all-fields">
            <div class="fields">
                <div class="fields-title">
                    Change info
                </div>
                <form method="post" asp-controller="Profile" asp-action="EditProfile" asp-antiforgery="true">
                    <div>
                        <label asp-for="UserViewModel.Name"></label>
                    </div>
                    <div>
                        <input type="text" asp-for="UserViewModel.Name" />
                    </div>
                    <div>
                        <input type="submit" value="Change" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="delete-account">
    <div class="delete-account-window">
        <div>
            Are you sure to delete your account?
        </div>
        <div>
            <a asp-area="" asp-controller="Account" asp-action="DeleteAccount" asp-route-id="@Model.UserViewModel.Id">Yes</a>
        </div>
        <div class="deleteAccount-close link">
            No
        </div>
    </div>
</div>