@using TestProjectWeb.Models;
@model ProfileViewModel

<div>
    Your profile:
    <div>
         Id: @Model.UserViewModel.Id
    </div>
    <div>
        Name: @Model.UserViewModel.Name
    </div>
    <div>
        Password: @Model.UserViewModel.Password
    </div>    
</div>

<div>
    @foreach (var word in @Model.WordViewModels)
    {
        <div>
            <span>Value: @word.Value     Translation: @word.Translation</span>
        </div>        
    }
</div>

<div>
    <a asp-area="" asp-controller="Word" asp-action="CreateWord">CreateWord</a>
</div>

<div>
    <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
</div>