@using TestProjectWeb.Models;
@model ProfileViewModel

<div class="profile">
    <div class="profile-side">
        <div class="profile-side-info">
            <div>
                Profile info:
            </div>
            <div>
                Id: @Model.UserViewModel.Id
            </div>
            <div>
                Name: @Model.UserViewModel.Name
            </div>
            <div>
                Country: @Model.UserViewModel.Country
            </div>
            <div>
                City: @Model.UserViewModel.City
            </div>
            <div>
                LearningLanguage: @Model.UserViewModel.LearningLanguage
            </div>
            <div>
                LanguageLevel: @Model.UserViewModel.LanguageLevel
            </div>
        </div>
    </div>
    <div class="profile-content">
        <div class="profile-content-table">
            <div class="profile-content-table-row">
                <div class="profile-content-table-row-title">
                    <div>
                        Word
                    </div>
                </div>
                <div class="profile-content-table-row-title">
                    <div>
                        Translation
                    </div>
                </div>
                <div class="profile-content-table-row-title">
                    <div>
                        Category
                    </div>
                </div>
                <div class="profile-content-table-row-title">
                    <div>
                        Part of Speech
                    </div>
                </div>
            </div>
            @foreach (var word in @Model.WordViewModels)
            {
                <div class="profile-content-table-row">
                    <div class="profile-content-table-row-item">
                        <div>
                            <span>
                                @word.Value
                            </span>
                            <span>
                                @{
                                    var parms = new Dictionary<string, string>
                                        {
                                            { "createrId", @word.CreaterId.ToString() },
                                            { "value", @word.Value },
                                            {"translation", @word.Translation },
                                            {"category", @word.Category },
                                            {"partOfSpeech", @word.PartOfSpeech.ToString() }
                                        };
                                }
                                <a asp-controller="Word" asp-action="CopyWord" asp-all-route-data="parms">C</a>
                            </span>
                        </div>
                    </div>
                    <div class="profile-content-table-row-item">
                        <div>
                            @word.Translation
                        </div>
                    </div>
                    <div class="profile-content-table-row-item">
                        <div>
                            @word.Category
                        </div>
                    </div>
                    <div class="profile-content-table-row-item">
                        <div>
                            @word.PartOfSpeech
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
